<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Evaluate News NLP</title>
    </head>

    <body>

        <header>
            <div class="">
                Evaluate Natural Language Processing
            </div>
            <div class="">
                Sentiment Analysis
            </div>
        </header>

        <main>
            <section>
                <form onsubmit="return Client.handleSubmit(event)">
                    <input type="text" id="url" placeholder="Enter URL here"/>
                    <input
                      type="submit"
                      id="submit" 
                      onclick="return Client.handleSubmit(event)"
                      onsubmit="return Client.handleSubmit(event)"
                    />
                  </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <div class="title">Confidence:</div>
                    <div id="confidence"></div>
                    <div class="title">Subjectivity:</div>
                    <div id="subjectivity"></div>
                    <div class="title">Irony:</div>
                    <div id="score"></div>
                </div>
            </section>
        </main>

        <footer>
            <p>Nicole Aguirrebena 2020.</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
